*.[ao]
*.out
*.output
*.bak
*.lcd
*.lcs
*.lh
*.gen
TAGS
tags

.deps
Makefile
Makefile.in
/configure
/config.h
/config.h.in
/config.log
/config.status
/stamp-h1
/aclocal.m4
/autom4te.cache
/src/splint

*.lex.c
*.tab.c
*.tab.h

cgrammar_tokens.h
llgrammar_gen.h
mtgrammar_tokens.h
signature_gen.h

/src/lex.yy.c
/src/cscanner.c
/src/cgrammar.c
/src/mtgrammar.c
/src/llgrammar.c
/src/signature.c
/src/Headers/flag_codes.gen
