*.[ao]
*.out
*.output
*.bak
*.lcd
*.lcs
*.lh
*.gen

.deps
Makefile
Makefile.in
configure
config.h
config.h.in
config.log
config.status
stamp-h1
aclocal.m4
autom4te.cache

bin/splint
src/splint

lex.yy.c
src/cscanner.c

src/cgrammar.c
src/cgrammar.c.der
src/mtgrammar.c
src/mtgrammar.c.der

src/llgrammar.c
src/llgrammar.c.der

src/signature.c
src/signature.c.der

src/Headers/cgrammar_tokens.h
src/Headers/llgrammar_gen.h
src/Headers/llgrammar_gen2.h
src/Headers/mtgrammar_tokens.h
src/Headers/signature_gen.h
